body {
    font-family: 'Arial', sans-serif;
    background-color: #1f1d20;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 10px;
}

header h1 {
    margin-left: 2%;
    font-size: 36px;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

nav ul li a.active {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #f1aa93;
}

main {
    margin-top: 110px;
}

#choose-jet-main, #about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choose-jet-main .description {
    max-width: 40%;
}

#about-main .description {
    margin-bottom: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 40px;
    background-image: url('../images/background-jet.JPG');
    background-size: cover;
    position: relative;
    min-height: 900px;
}

.aside-left,
.description,
.aside-right {
    margin-top: 5%;
    flex: 1;
    max-width: 30%;
    box-sizing: border-box;
}

.aside-left,
.aside-right {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin-top: 10%;
    max-width: 30%;
    border-radius: 10px;
}

.aside-left h3,
.aside-right h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.aside-left p,
.aside-right p {
    font-size: 16px;
    line-height: 1.5;
    color: #ddd;
}

.aside-left sub {
    color: #f1aa93;
    font-weight: bold;
}

.description {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 60%;
}

.description h2.slogan {
    font-size: 32px;
    margin-bottom: 20px;
}

.description p {
    font-size: 18px;
    line-height: 1.8;
}

section {
    display: flex;
    justify-content: center;
}

.jets {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 5%;
}

.jets-catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 5%;
}

.jet {
    padding: 20px;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    width: 350px;
}

.jet:hover {
    background-color: black;
    box-shadow: 0 4px 8px rgba(241, 170, 141, 0.3);
}

.jet h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.jet p {
    font-size: 18px;
    color: #f1aa93;
}

.jet a img {
    width: 350px;
    height: 200px;
    cursor: pointer;
}

footer {
    box-shadow: 0 -4px 8px rgba(241, 170, 141, 0.3);
    padding: 20px;
    font-size: 16px;
}

footer p {
    margin: 0;
}


@media screen and (max-width: 1480px) {

    .aside-left,
    .aside-right {
        display: none;
    }

    .jets-catalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1024px) {

    .aside-left,
    .aside-right {
        display: none;
    }

    .jets-catalog {
        grid-template-columns: repeat(2, 1fr);
    }

    .jets {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 780px) {

    .aside-left,
    .aside-right {
        display: none;
    }

    .jets {
        grid-template-columns: repeat(1, 1fr);
    }
}

.contact-me-form {
    padding: 30px;
    margin-top: 5%;
    border-radius: 10px;
    max-width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-me-form h1 {
    font-size: 24px;
}

.contact-me-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #f1aa93;
}

.contact-me-form input,
.contact-me-form textarea,
.contact-me-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
}

.contact-me-form textarea {
    resize: vertical;
    min-height: 100px;
}

.contact-me-form button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #f1aa93;
    color: #000;
    transition: background-color 0.3s;
}

.contact-me-form button:hover {
    cursor: pointer;
    background-color: white;
}